<header>
    <div class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="logo">
    </div>
    <nav>
      <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/">Create</a></li>
        <li><a href="/">LOGO</a></li>
      </ul>
    </nav>
    </div>
  </header>
<section id="signup-section-settings">
  <h2>Account settings</h2>
  <form action="/userProfile/{{user.id}}/account-settings" method="POST">
    <label class="form-labels" enctype="multipart/form-data">
      <input class="form-input" type="text" name="username" value="{{user.username}}">
    </label>

    <label class="form-labels">
      <input class="form-input" type="email" name="email" value="{{user.email}}">
    </label>

    <label class="form-labels">
      <input class="form-input" type="password" name="password" placeholder="**********" value="{{user.password}}">
    </label>

    <label class="form-labels">

        <input class="form-input" type="file" name="image" value="{{user.photoUser}}" class="form-control-file" />
    </label>
    </div>


    <button>SAVE CHANGES</button>


    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

  </form>

</section>

<footer id="footer-account-settings">
      <div class="elements-footer">
        <p>Index of ingredients</p>
        <p>About us</p>
        <p>Contact</p>
      </div>
</footer>
