
<div id="section-my-recipes">
  <h1>MY RECIPES</h1>
  <div class="container-my-recipes">
    <h1>YOU HAVE CREATED {{numberOfRecipes}} RECIPES</h1>
    <div class="recipes-zone">
  {{#each recipes}}
      <div class="card">
        <img src={{image}} class="card-img-top" alt="{{title}}-image">
        <div class="card-body">
          <p class="card-title">{{title}}</p>
          <p class="card-text">{{readyInMinutes}} min</p>
          {{#if true}}<button><a href="/recipes/{{id}}/detail-recipe">EN SAVOIR PLUS</a></button>{{/if}}
          <div class="modify-and-delete">
            <a href="">MODIFY</a>
             <form action="/recipes/{{id}}/delete" method="POST"><button>DELETE</button></form>
          </div>
        </div>
    </div>
  {{/each}}
</div>
    <button><a href="/create">Create a Recipe</a></button>
  </div>
</div>


