<section id="Edit-your-recipe">
  <h1>EDIT YOUR RECIPE</h1>
  <div class="formulaire-edit-recipe">
    <form action="/recipes/{{recipe.id}}/edit" method="POST" enctype="multipart/form-data">
    
    <label class="form-labels">
      <input class="form-input" type="text" name="title" value="{{recipe.title}}" placeholder="Name of the recipe ">
    </label>

    <label class="form-labels">
      <input class="form-input" type="text" name="readyInMinutes" value="{{recipe.readyInMinutes}}" placeholder="Time to cook">
    </label>

    <div class="container-ingredient">
      <div id="all-ingredients">
      <div class="add-things-ing">
      <label class="form-labels" id="input-parent">
        <input class="form-input" type="text" name="ingredient1" value="{{recipe.ingredient1}}" placeholder="Ingredient 1" >
      </label>
    </div>
    </div>
    <a href="javascript: addIngredient()">Add an ingredient</a>
    </div>
    
    
    <div class="container-step">
      <div id="all-steps">
      <div class="add-things">
        <label class="form-labels">
          <input class="form-input" type="text" name="step1" value="{{recipe.step1}}" placeholder="Step 1" >
        </label>
      </div>
    </div>
    <a href="javascript: addStep()">Add a step</a>
    </div>
    
    
    <label class="form-labels">
        <input class="form-input" type="file" name="image" value="{{recipe.image}}" class="form-control-file" placeholder="Download a photo" />
    </label>

    <button>SAVE THE RECIPE</button>
  </form>

  </div> 
</section>


