<div class="recipes-zone">
  {{#each recipes}}
      <div class="card">
        <img src={{image}} class="card-img-top" alt="{{title}}-image">
        <div class="card-body">
          <p class="card-title">{{title}}</p>
          <p class="card-text">{{readyInMinutes}} min</p>
          {{#if true}}<button><a href="/recipes/{{id}}/detail-recipe">EN SAVOIR PLUS</a></button>{{/if}}
        </div>
    </div>
  {{/each}}
</div>
